body{
	
	display: flex;
	flex-direction: column;
	text-align: center;
	background-image: url('https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
	height:60px;
	width:50px;
}
.navbar{
	margin: 0px;
	width: 100%;
	padding: 5px;
}
.moveright{
	margin-left: 134px;
	font-family: Palatino Linotype;
}
.name{
	display: flex;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	font-family:Palatino Linotype;
	color: white;
}
.name i{
	margin:10px;
}

.nav-item{
	padding:10px;
	font-size: 18.7px;
}
.nav-link:hover{
	font-size: 19.8px;
	color: white;
	background-color: grey;
}
.container{ 
	position: relative; 
	border-radius: 25px;
	margin-top: 80px;
	padding: 20px ;
	border-radius: 10px solid black;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 2px white, 
        0 0 2px white;
	width: 480px;
}

h1{
	font-size: 40px;
	color: #ece4e4;
    margin-bottom: 60px;
    font-family: serif;
}

.inp, form .button{
	margin: 25px 0;
	position: relative;
	height: 50px;
	width: 100%;
}

.inp input{
	border: 1px solid silver;
	width:400px;
	height: 100%;
    outline: none;
	font-size: 18px;
	transition: .4s;
	border-radius: 10px;
}
input:focus{
	border: 1px solid cyan;
}

.inp label{
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
	pointer-events: none;
	color: grey;
    transition: .2s;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus ~label, input:valid ~label{
	transform: translateY(-43px);
	background-color: rgba(255, 255, 255, 0.1);	
	color: black;
    font-size: 15px;
}

.button button{
	height: 40px;
	width: 120px;
	border: none;
	border-radius: 10px;
    cursor: pointer;
	text-transform: uppercase;
	background: blue;
	text-decoration: none;
}
.button button{
	color:white;
	text-decoration: none;
}
.button button:hover{
	transition: background-color 0.5s ease-out;
    background:blue;
    box-shadow: 0 0 5px #33ffff, 
    0 0 5px #66ffff;
    color: white;
	
}
.sign{
	margin-top: 20px;
	color: rgb(253, 252, 252);
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sign a{
	color:wheat;
}

@media(max-width:960px){
	
	html,body{
		max-width: 100%;
		overflow-x: hidden;
	}
	.section-1 button{
		margin-top: 10px;
	}
	.moveright{
		margin-left:30px;
		text-align: left;
	}
	.container1 p{
		margin-left: 20px;
	}
	.container{
		margin-top: 4rem;
		max-width: 100%;
		margin-bottom: 90px;
	}
	form{
		max-width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	.logo{
		height: 50px;
		width:40px;
	}
	.name{
		font-size: 22px;
	}
	.inp input{
		max-width: 100%;
	}
}
